<!--</h1>Searching for - <%= @keyword %></h1>-->
<style type="text/css">
	h1 {
		color: green;
		font-size: 25px;
	}
	.question {
		color: blue;
		font-size: 20px;
	}
</style>

<h1>HENTEKI RECIPE FINDER</h1>

<p class="question">What would you like to eat？</p>
<div>
Enter here:
<%= form_tag("", method: "get") do %>
  <%= text_field_tag(:search, @keyword) %>
  <%= submit_tag("Find Recipe") %>
<% end %>
</div>
<br>
<table border="1">
	<tr>
		<th>Thumbnail</th>
		<th>Title</th>
		<th>Social Rank</th>
	</tr>
	<% @recipes.each do |recipe| %>
			<td><%= link_to(image_tag(recipe["image_url"], size: "100"), recipe["source_url"] ) %></td>
			<td><%= link_to(sanitize(recipe["title"]), recipe["source_url"])  %></td>
			<td><%= recipe["social_rank"]%></td>
		</tr>
	<% end %>
</table>
